{% extends "base.html" %}

{% block content %}
    <form class="form-horizontal" role="form" name="input" action="{{ url_for('add_entry') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Título</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="title" placeholder="Título">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Descripción:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="description" placeholder="Descripción">
            </div>
        </div>
        <div class="form-group">
            <label for="file_img" class="col-sm-2 control-label">Seleccione la imagen</label>
            <div class="col-sm-10">
                <input type="file" id="file_img" name="file_img">
            <div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Guardar entrada" class="btn btn-default">
            </div>
        </div>
        {% if error %}
        <span class="label label-danger col-sm-offset-2 col-sm-12">Un error ha ocurrido: {{ error }}</span>
        {%  endif %}
    </form>
{% endblock content %}