{% extends "base.html" %}
{% block head %}
{{ super() }}
<link href="{{url_for('static', filename='signin.css')}}" rel="stylesheet">
{% endblock head %}
{% block menu %}
{% endblock menu %}
{% block content %}

  <form class="form-signin" name="login" action="{{url_for('login')}}" method="post">
    <h2 class="form-signin-heading">Ingrese al sistema</h2>
      <input type="text" class="form-control" placeholder="Nombre de usuario" required autofocus name="user">
      <input type="password" class="form-control" placeholder="Contraseña" required name="password">
      <label class="checkbox">
        <input type="checkbox" value="remember-me"> Recordar
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
      {% if error %}
        <span class="label label-danger">{{ error }}</span>
      {%  endif %}
</form>

{% endblock content %}
