{% extends "base.html" %}

{% block content %}


<script type="text/javascript" src="static/jquery-2.0.3.min.js"></script>



<script>

$(document).ready(function(){
var rem1, rem2, rem3, rem4, rem5, rem6, rem7, rem8, rem9, rem10, rem11, rem12, rem13, rem14;

function obtvalor(){
	$("table").hide();
	limpiar();
	var valor = $("select.ind option:selected").val();
	
	if (valor=="Tarapacá"){
		rem2 = $(".dos").detach();
		rem3 = $(".tres").detach();
		rem4 = $(".cuatro").detach();
		rem5 = $(".cinco").detach();
		rem6 = $(".seis").detach();
		rem7 = $(".siete").detach();
		rem8 = $(".ocho").detach();
		rem9 = $(".nueve").detach();
		rem10 = $(".diez").detach();
		rem11 = $(".once").detach();
		rem12 = $(".doce").detach();
		rem13 = $(".trece").detach();
		rem14 = $(".catorce").detach();
		principal();	
	}
	else if(valor=="Antofagasta"){			
		rem1 = $(".uno").detach();
		rem3 = $(".tres").detach();
		rem4 = $(".cuatro").detach();
		rem5 = $(".cinco").detach();
		rem6 = $(".seis").detach();
		rem7 = $(".siete").detach();
		rem8 = $(".ocho").detach();
		rem9 = $(".nueve").detach();
		rem10 = $(".diez").detach();
		rem11 = $(".once").detach();
		rem12 = $(".doce").detach();
		rem13 = $(".trece").detach();
		rem14 = $(".catorce").detach();
		principal();
	}
	else if(valor=="Atacama"){			
		rem1 = $(".uno").detach();
		rem2 = $(".dos").detach();
		rem4 = $(".cuatro").detach();
		rem5 = $(".cinco").detach();
		rem6 = $(".seis").detach();
		rem7 = $(".siete").detach();
		rem8 = $(".ocho").detach();
		rem9 = $(".nueve").detach();
		rem10 = $(".diez").detach();
		rem11 = $(".once").detach();
		rem12 = $(".doce").detach();
		rem13 = $(".trece").detach();
		rem14 = $(".catorce").detach();
		principal();
	}
	else if(valor=="Coquimbo"){			
		rem1 = $(".uno").detach();
		rem2 = $(".dos").detach();
		rem3 = $(".tres").detach();
		rem5 = $(".cinco").detach();
		rem6 = $(".seis").detach();
		rem7 = $(".siete").detach();
		rem8 = $(".ocho").detach();
		rem9 = $(".nueve").detach();
		rem10 = $(".diez").detach();
		rem11 = $(".once").detach();
		rem12 = $(".doce").detach();
		rem13 = $(".trece").detach();
		rem14 = $(".catorce").detach();
		principal();
	}
	else if(valor=="Valparaíso"){	
		rem1 = $(".uno").detach();		
		rem2 = $(".dos").detach();
		rem3 = $(".tres").detach();
		rem4 = $(".cuatro").detach();
		rem6 = $(".seis").detach();
		rem7 = $(".siete").detach();
		rem8 = $(".ocho").detach();
		rem9 = $(".nueve").detach();
		rem10 = $(".diez").detach();
		rem11 = $(".once").detach();
		rem12 = $(".doce").detach();
		rem13 = $(".trece").detach();
		rem14 = $(".catorce").detach();	
		principal();
	}
	else if(valor=="OHiggins"){	
		rem1 = $(".uno").detach();		
		rem2 = $(".dos").detach();
		rem3 = $(".tres").detach();
		rem4 = $(".cuatro").detach();
		rem5 = $(".cinco").detach();
		rem7 = $(".siete").detach();
		rem8 = $(".ocho").detach();
		rem9 = $(".nueve").detach();
		rem10 = $(".diez").detach();
		rem11 = $(".once").detach();
		rem12 = $(".doce").detach();
		rem13 = $(".trece").detach();
		rem14 = $(".catorce").detach();	
		principal();
	}
	else if(valor=="Maule"){	
		rem1 = $(".uno").detach();		
		rem2 = $(".dos").detach();
		rem3 = $(".tres").detach();
		rem4 = $(".cuatro").detach();
		rem5 = $(".cinco").detach();
		rem6 = $(".seis").detach();
		rem8 = $(".ocho").detach();
		rem9 = $(".nueve").detach();
		rem10 = $(".diez").detach();
		rem11 = $(".once").detach();
		rem12 = $(".doce").detach();
		rem13 = $(".trece").detach();
		rem14 = $(".catorce").detach();	
		principal();
	}
	else if(valor=="Biobío"){
		rem1 = $(".uno").detach();			
		rem2 = $(".dos").detach();
		rem3 = $(".tres").detach();
		rem4 = $(".cuatro").detach();
		rem5 = $(".cinco").detach();
		rem6 = $(".seis").detach();
		rem7 = $(".siete").detach();
		rem9 = $(".nueve").detach();
		rem10 = $(".diez").detach();
		rem11 = $(".once").detach();
		rem12 = $(".doce").detach();
		rem13 = $(".trece").detach();
		rem14 = $(".catorce").detach();	
		principal();
	}
	else if(valor=="Araucanía"){			
		rem1 = $(".uno").detach();
		rem2 = $(".dos").detach();
		rem3 = $(".tres").detach();
		rem4 = $(".cuatro").detach();
		rem5 = $(".cinco").detach();
		rem6 = $(".seis").detach();
		rem7 = $(".siete").detach();
		rem8 = $(".ocho").detach();
		rem10 = $(".diez").detach();
		rem11 = $(".once").detach();
		rem12 = $(".doce").detach();
		rem13 = $(".trece").detach();
		rem14 = $(".catorce").detach();	
		principal();
	}
	else if(valor=="Los Lagos"){	
		rem1 = $(".uno").detach();		
		rem2 = $(".dos").detach();
		rem3 = $(".tres").detach();
		rem4 = $(".cuatro").detach();
		rem5 = $(".cinco").detach();
		rem6 = $(".seis").detach();
		rem7 = $(".siete").detach();
		rem8 = $(".ocho").detach();
		rem9 = $(".nueve").detach();
		rem11 = $(".once").detach();
		rem12 = $(".doce").detach();
		rem13 = $(".trece").detach();
		rem14 = $(".catorce").detach();
		principal();
	}
	else if(valor=="Aysén"){
		rem1 = $(".uno").detach();			
		rem2 = $(".dos").detach();
		rem3 = $(".tres").detach();
		rem4 = $(".cuatro").detach();
		rem5 = $(".cinco").detach();
		rem6 = $(".seis").detach();
		rem7 = $(".siete").detach();
		rem8 = $(".ocho").detach();
		rem9 = $(".nueve").detach();
		rem10 = $(".diez").detach();
		rem12 = $(".doce").detach();
		rem13 = $(".trece").detach();
		rem14 = $(".catorce").detach();	
		principal();
	}
	else if(valor=="Magallanes"){	
		rem1 = $(".uno").detach();		
		rem2 = $(".dos").detach();
		rem3 = $(".tres").detach();
		rem4 = $(".cuatro").detach();
		rem5 = $(".cinco").detach();
		rem6 = $(".seis").detach();
		rem7 = $(".siete").detach();
		rem8 = $(".ocho").detach();
		rem9 = $(".nueve").detach();
		rem10 = $(".diez").detach();
		rem11 = $(".once").detach();
		rem13 = $(".trece").detach();
		rem14 = $(".catorce").detach();	
		principal();
	}
	else if(valor=="Metropolitana"){	
		rem1 = $(".uno").detach();		
		rem2 = $(".dos").detach();
		rem3 = $(".tres").detach();
		rem4 = $(".cuatro").detach();
		rem5 = $(".cinco").detach();
		rem6 = $(".seis").detach();
		rem7 = $(".siete").detach();
		rem8 = $(".ocho").detach();
		rem9 = $(".nueve").detach();
		rem10 = $(".diez").detach();
		rem11 = $(".once").detach();
		rem12 = $(".doce").detach();
		rem14 = $(".catorce").detach();
		principal();
	}
	else if(valor=="No Regionalizado"){			
		rem1 = $(".uno").detach();		
		rem2 = $(".dos").detach();
		rem3 = $(".tres").detach();
		rem4 = $(".cuatro").detach();
		rem5 = $(".cinco").detach();
		rem6 = $(".seis").detach();
		rem7 = $(".siete").detach();
		rem8 = $(".ocho").detach();
		rem9 = $(".nueve").detach();
		rem10 = $(".diez").detach();
		rem11 = $(".once").detach();
		rem12 = $(".doce").detach();
		rem14 = $(".trece").detach();
		principal();
	}

	if(rem1){
		rem1.appendTo("body");
	}
	if(rem2){
		rem2.appendTo("body");
	}
	if(rem3){
		rem3.appendTo("body");
	}
	if(rem4){
		rem4.appendTo("body");
	}
	if(rem5){
		rem5.appendTo("body");
	}
	if(rem6){
		rem6.appendTo("body");
	}
	if(rem7){
		rem7.appendTo("body");
	}
	if(rem8){
		rem8.appendTo("body");
	}
	if(rem9){
		rem9.appendTo("body");
	}
	if(rem10){
		rem10.appendTo("body");
	}
	if(rem11){
		rem11.appendTo("body");
	}
	if(rem12){
		rem12.appendTo("body");
	}
	if(rem13){
		rem13.appendTo("body");
	}
	if(rem14){
		rem14.appendTo("body");
	}		
}
	$("select").change(obtvalor);
	
	obtvalor();
	
function limpiar(){
	var oCanvas = document.getElementById("canvas");
	var oContext = oCanvas.getContext("2d");
	 
	oContext.save();
	oContext.fillStyle = "#FFF";
	oContext.fillRect(0, 0, 800, 300);
	oContext.restore();
}

function principal(){
	var	espacioB = 20,
	 	anchoB = 20,
	    alturaC = 220,
		nEtiquetasY = 8,
		offsetX = 20,
		anchoG =550,
		alturaG=200;
	
	var maxVal,
		valoresG = [],
	    etiquetasX = [],
		etiquetasY = [];
	
	var cv, ctx;
	
	function obtenerValores()   
	{   
		// Valores   
		$("#data tr td:nth-child(2)").each(function(){   
			valoresG.push($(this).text());   
		});   
		
		//Etiquetas   
		$("#data tr td:nth-child(1)").each(function(){   
			etiquetasX.push($(this).text());   
		});   
	}
	
	function initCanvas ()   
	{   
		   
		cv = $("#canvas").get(0);   
		if (!cv)   
		{ return; }   
		   
		ctx = cv.getContext('2d');   
		if (!ctx)   
		{ return; }   
	}
	
	function valorMaximo (arr)   
	{   
		maxVal=0;   
		
		for(i=0; i<arr.length; i++)   
		{   
		if (maxVal<parseInt(arr[i]))   
		{   
		maxVal=parseInt(arr[i]);   
		}   
		}   
		
		maxVal*= 1.1;   
	} 
	
	function escalar(param)   
	{   
		return  Math.round((param/maxVal)*alturaG);   
	}
	
	function x (param)   
	{   
		return (param*anchoB)+((param+1)*espacioB)+offsetX;   
	}
	
	function y (param)   
	{   
		return alturaG - escalar(param);   
	} 
	
	function ancho()   
	{   
		return anchoB;   
	}
	
	function altura(param)   
	{   
		return escalar(param);   
	}
	
	function dibujarEtiquetasX()   
	{   
		ctx.save();   
		ctx.font = "10px 'arial'";   
		ctx.fillStyle = "#000";   
		for(index=0; index<valoresG.length; index++)   
		{   
			ctx.fillText(etiquetasX[index], x(index), alturaG+17);   
		}   
		ctx.restore();   
	} 
	
	function dibujarEtiquetasY()   
	{   
		ctx.save();   
		for(index=0; index<nEtiquetasY; index++)   
		{   
			etiquetasY.push(Math.round(maxVal/nEtiquetasY*(index+1)));   
			ctx.fillStyle = "#000";   
			ctx.fillText(etiquetasY[index], offsetX-20, y(etiquetasY[index])+10);   
		}   
		ctx.fillText("0", offsetX, alturaG+7);   
		ctx.restore();   
	}
	
	function dibujarGraficoBarras()   
	{  
		for(index=0; index<valoresG.length; index++)   
		{   
			ctx.save();   
			ctx.fillStyle = "#B7B7B7";   
			ctx.fillRect( x(index), y(valoresG[index]), ancho(), altura(valoresG[index]));   
			ctx.restore();   
		}   
		$("#data").hide();
	} 
	
	obtenerValores();
	initCanvas();
	valorMaximo(valoresG);
	dibujarEtiquetasX();
	dibujarEtiquetasY();
	dibujarGraficoBarras();
}
	});
</script>

<body>
<select class="ind">
<option value="--">Seleccione Región</option>
 {% for entry in entries %}
       <option value="{{entry.region}}">{{entry.region}} PIBR 1970-1985</option>
 {% endfor %}
</select> 

{% for entry2 in entries2 %}
<table width="200" border="0" id="data" class="uno">
    <tr>
        <th>Año</th>
        <th>PIB</th>
    </tr>
    <tr>
        <td>1970</td>
        <td>{{entry2.setenta}}</td>
    </tr>
    <tr>
        <td>1971</td>
        <td>{{entry2.setentauno}}</td>
    </tr>
    <tr>
        <td>1972</td>
        <td>{{entry2.setentados}}</td>
    </tr>
    <tr>
        <td>1973</td>
        <td>{{entry2.setentatres}}</td>
    </tr>
    <tr>
        <td>1974</td>
        <td>{{entry2.setentacuatro}}</td>
    </tr>
    <tr>
        <td>1975</td>
        <td>{{entry2.setentacinco}}</td>
    </tr>
    <tr>
        <td>1976</td>
        <td>{{entry2.setentaseis}}</td>
    </tr>
    <tr>
        <td>1977</td>
        <td>{{entry2.setentasiete}}</td>
    </tr>
    <tr>
        <td>1978</td>
        <td>{{entry2.setentaocho}}</td>
    </tr>
    <tr>
        <td>1979</td>
        <td>{{entry2.setentanueve}}</td>
    </tr>
    <tr>
        <td>1980</td>
        <td>{{entry2.ochenta}}</td>
    </tr>
    <tr>
        <td>1981</td>
        <td>{{entry2.ochentauno}}</td>
    </tr>
    <tr>
        <td>1982</td>
        <td>{{entry2.ochentados}}</td>
    </tr>
    <tr>
        <td>1983</td>
        <td>{{entry2.ochentatres}}</td>
    </tr>
    <tr>
        <td>1984</td>
        <td>{{entry2.ochentacuatro}}</td>
    </tr>
    <tr>
        <td>1985</td>
        <td>{{entry2.ochentacinco}}</td>
    </tr>
</table>
{% endfor %}


{% for entry3 in entries3 %}
<table width="200" border="0" id="data" class="dos">
    <tr>
        <th>Año</th>
        <th>PIB</th>
    </tr>
    <tr>
        <td>1970</td>
        <td>{{entry3.setenta}}</td>
    </tr>
    <tr>
        <td>1971</td>
        <td>{{entry3.setentauno}}</td>
    </tr>
    <tr>
        <td>1972</td>
        <td>{{entry3.setentados}}</td>
    </tr>
    <tr>
        <td>1973</td>
        <td>{{entry3.setentatres}}</td>
    </tr>
    <tr>
        <td>1974</td>
        <td>{{entry3.setentacuatro}}</td>
    </tr>
    <tr>
        <td>1975</td>
        <td>{{entry3.setentacinco}}</td>
    </tr>
    <tr>
        <td>1976</td>
        <td>{{entry3.setentaseis}}</td>
    </tr>
    <tr>
        <td>1977</td>
        <td>{{entry3.setentasiete}}</td>
    </tr>
    <tr>
        <td>1978</td>
        <td>{{entry3.setentaocho}}</td>
    </tr>
    <tr>
        <td>1979</td>
        <td>{{entry3.setentanueve}}</td>
    </tr>
    <tr>
        <td>1980</td>
        <td>{{entry3.ochenta}}</td>
    </tr>
    <tr>
        <td>1981</td>
        <td>{{entry3.ochentauno}}</td>
    </tr>
    <tr>
        <td>1982</td>
        <td>{{entry3.ochentados}}</td>
    </tr>
    <tr>
        <td>1983</td>
        <td>{{entry3.ochentatres}}</td>
    </tr>
    <tr>
        <td>1984</td>
        <td>{{entry3.ochentacuatro}}</td>
    </tr>
    <tr>
        <td>1985</td>
        <td>{{entry3.ochentacinco}}</td>
    </tr>
</table>
{% endfor %}



{% for entry4 in entries4 %}
<table width="200" border="0" id="data" class="tres">
    <tr>
        <th>Año</th>
        <th>PIB</th>
    </tr>
    <tr>
        <td>1970</td>
        <td>{{entry4.setenta}}</td>
    </tr>
    <tr>
        <td>1971</td>
        <td>{{entry4.setentauno}}</td>
    </tr>
    <tr>
        <td>1972</td>
        <td>{{entry4.setentados}}</td>
    </tr>
    <tr>
        <td>1973</td>
        <td>{{entry4.setentatres}}</td>
    </tr>
    <tr>
        <td>1974</td>
        <td>{{entry4.setentacuatro}}</td>
    </tr>
    <tr>
        <td>1975</td>
        <td>{{entry4.setentacinco}}</td>
    </tr>
    <tr>
        <td>1976</td>
        <td>{{entry4.setentaseis}}</td>
    </tr>
    <tr>
        <td>1977</td>
        <td>{{entry4.setentasiete}}</td>
    </tr>
    <tr>
        <td>1978</td>
        <td>{{entry4.setentaocho}}</td>
    </tr>
    <tr>
        <td>1979</td>
        <td>{{entry4.setentanueve}}</td>
    </tr>
    <tr>
        <td>1980</td>
        <td>{{entry4.ochenta}}</td>
    </tr>
    <tr>
        <td>1981</td>
        <td>{{entry4.ochentauno}}</td>
    </tr>
    <tr>
        <td>1982</td>
        <td>{{entry4.ochentados}}</td>
    </tr>
    <tr>
        <td>1983</td>
        <td>{{entry4.ochentatres}}</td>
    </tr>
    <tr>
        <td>1984</td>
        <td>{{entry4.ochentacuatro}}</td>
    </tr>
    <tr>
        <td>1985</td>
        <td>{{entry4.ochentacinco}}</td>
    </tr>
</table>
{% endfor %}



{% for entry5 in entries5 %}
<table width="200" border="0" id="data" class="cuatro">
    <tr>
        <th>Año</th>
        <th>PIB</th>
    </tr>
    <tr>
        <td>1970</td>
        <td>{{entry5.setenta}}</td>
    </tr>
    <tr>
        <td>1971</td>
        <td>{{entry5.setentauno}}</td>
    </tr>
    <tr>
        <td>1972</td>
        <td>{{entry5.setentados}}</td>
    </tr>
    <tr>
        <td>1973</td>
        <td>{{entry5.setentatres}}</td>
    </tr>
    <tr>
        <td>1974</td>
        <td>{{entry5.setentacuatro}}</td>
    </tr>
    <tr>
        <td>1975</td>
        <td>{{entry5.setentacinco}}</td>
    </tr>
    <tr>
        <td>1976</td>
        <td>{{entry5.setentaseis}}</td>
    </tr>
    <tr>
        <td>1977</td>
        <td>{{entry5.setentasiete}}</td>
    </tr>
    <tr>
        <td>1978</td>
        <td>{{entry5.setentaocho}}</td>
    </tr>
    <tr>
        <td>1979</td>
        <td>{{entry5.setentanueve}}</td>
    </tr>
    <tr>
        <td>1980</td>
        <td>{{entry5.ochenta}}</td>
    </tr>
    <tr>
        <td>1981</td>
        <td>{{entry5.ochentauno}}</td>
    </tr>
    <tr>
        <td>1982</td>
        <td>{{entry5.ochentados}}</td>
    </tr>
    <tr>
        <td>1983</td>
        <td>{{entry5.ochentatres}}</td>
    </tr>
    <tr>
        <td>1984</td>
        <td>{{entry5.ochentacuatro}}</td>
    </tr>
    <tr>
        <td>1985</td>
        <td>{{entry5.ochentacinco}}</td>
    </tr>
</table>
{% endfor %}


{% for entry6 in entries6 %}
<table width="200" border="0" id="data" class="cinco">
    <tr>
        <th>Año</th>
        <th>PIB</th>
    </tr>
    <tr>
        <td>1970</td>
        <td>{{entry6.setenta}}</td>
    </tr>
    <tr>
        <td>1971</td>
        <td>{{entry6.setentauno}}</td>
    </tr>
    <tr>
        <td>1972</td>
        <td>{{entry6.setentados}}</td>
    </tr>
    <tr>
        <td>1973</td>
        <td>{{entry6.setentatres}}</td>
    </tr>
    <tr>
        <td>1974</td>
        <td>{{entry6.setentacuatro}}</td>
    </tr>
    <tr>
        <td>1975</td>
        <td>{{entry6.setentacinco}}</td>
    </tr>
    <tr>
        <td>1976</td>
        <td>{{entry6.setentaseis}}</td>
    </tr>
    <tr>
        <td>1977</td>
        <td>{{entry6.setentasiete}}</td>
    </tr>
    <tr>
        <td>1978</td>
        <td>{{entry6.setentaocho}}</td>
    </tr>
    <tr>
        <td>1979</td>
        <td>{{entry6.setentanueve}}</td>
    </tr>
    <tr>
        <td>1980</td>
        <td>{{entry6.ochenta}}</td>
    </tr>
    <tr>
        <td>1981</td>
        <td>{{entry6.ochentauno}}</td>
    </tr>
    <tr>
        <td>1982</td>
        <td>{{entry6.ochentados}}</td>
    </tr>
    <tr>
        <td>1983</td>
        <td>{{entry6.ochentatres}}</td>
    </tr>
    <tr>
        <td>1984</td>
        <td>{{entry6.ochentacuatro}}</td>
    </tr>
    <tr>
        <td>1985</td>
        <td>{{entry6.ochentacinco}}</td>
    </tr>
</table>
{% endfor %}



{% for entry7 in entries7 %}
<table width="200" border="0" id="data" class="seis">
    <tr>
        <th>Año</th>
        <th>PIB</th>
    </tr>
    <tr>
        <td>1970</td>
        <td>{{entry7.setenta}}</td>
    </tr>
    <tr>
        <td>1971</td>
        <td>{{entry7.setentauno}}</td>
    </tr>
    <tr>
        <td>1972</td>
        <td>{{entry7.setentados}}</td>
    </tr>
    <tr>
        <td>1973</td>
        <td>{{entry7.setentatres}}</td>
    </tr>
    <tr>
        <td>1974</td>
        <td>{{entry7.setentacuatro}}</td>
    </tr>
    <tr>
        <td>1975</td>
        <td>{{entry7.setentacinco}}</td>
    </tr>
    <tr>
        <td>1976</td>
        <td>{{entry7.setentaseis}}</td>
    </tr>
    <tr>
        <td>1977</td>
        <td>{{entry7.setentasiete}}</td>
    </tr>
    <tr>
        <td>1978</td>
        <td>{{entry7.setentaocho}}</td>
    </tr>
    <tr>
        <td>1979</td>
        <td>{{entry7.setentanueve}}</td>
    </tr>
    <tr>
        <td>1980</td>
        <td>{{entry7.ochenta}}</td>
    </tr>
    <tr>
        <td>1981</td>
        <td>{{entry7.ochentauno}}</td>
    </tr>
    <tr>
        <td>1982</td>
        <td>{{entry7.ochentados}}</td>
    </tr>
    <tr>
        <td>1983</td>
        <td>{{entry7.ochentatres}}</td>
    </tr>
    <tr>
        <td>1984</td>
        <td>{{entry7.ochentacuatro}}</td>
    </tr>
    <tr>
        <td>1985</td>
        <td>{{entry7.ochentacinco}}</td>
    </tr>
</table>
{% endfor %}



{% for entry8 in entries8 %}
<table width="200" border="0" id="data" class="siete">
    <tr>
        <th>Año</th>
        <th>PIB</th>
    </tr>
    <tr>
        <td>1970</td>
        <td>{{entry8.setenta}}</td>
    </tr>
    <tr>
        <td>1971</td>
        <td>{{entry8.setentauno}}</td>
    </tr>
    <tr>
        <td>1972</td>
        <td>{{entry8.setentados}}</td>
    </tr>
    <tr>
        <td>1973</td>
        <td>{{entry8.setentatres}}</td>
    </tr>
    <tr>
        <td>1974</td>
        <td>{{entry8.setentacuatro}}</td>
    </tr>
    <tr>
        <td>1975</td>
        <td>{{entry8.setentacinco}}</td>
    </tr>
    <tr>
        <td>1976</td>
        <td>{{entry8.setentaseis}}</td>
    </tr>
    <tr>
        <td>1977</td>
        <td>{{entry8.setentasiete}}</td>
    </tr>
    <tr>
        <td>1978</td>
        <td>{{entry8.setentaocho}}</td>
    </tr>
    <tr>
        <td>1979</td>
        <td>{{entry8.setentanueve}}</td>
    </tr>
    <tr>
        <td>1980</td>
        <td>{{entry8.ochenta}}</td>
    </tr>
    <tr>
        <td>1981</td>
        <td>{{entry8.ochentauno}}</td>
    </tr>
    <tr>
        <td>1982</td>
        <td>{{entry8.ochentados}}</td>
    </tr>
    <tr>
        <td>1983</td>
        <td>{{entry8.ochentatres}}</td>
    </tr>
    <tr>
        <td>1984</td>
        <td>{{entry8.ochentacuatro}}</td>
    </tr>
    <tr>
        <td>1985</td>
        <td>{{entry8.ochentacinco}}</td>
    </tr>
</table>
{% endfor %}



{% for entry9 in entries9 %}
<table width="200" border="0" id="data" class="ocho">
    <tr>
        <th>Año</th>
        <th>PIB</th>
    </tr>
    <tr>
        <td>1970</td>
        <td>{{entry9.setenta}}</td>
    </tr>
    <tr>
        <td>1971</td>
        <td>{{entry9.setentauno}}</td>
    </tr>
    <tr>
        <td>1972</td>
        <td>{{entry9.setentados}}</td>
    </tr>
    <tr>
        <td>1973</td>
        <td>{{entry9.setentatres}}</td>
    </tr>
    <tr>
        <td>1974</td>
        <td>{{entry9.setentacuatro}}</td>
    </tr>
    <tr>
        <td>1975</td>
        <td>{{entry9.setentacinco}}</td>
    </tr>
    <tr>
        <td>1976</td>
        <td>{{entry9.setentaseis}}</td>
    </tr>
    <tr>
        <td>1977</td>
        <td>{{entry9.setentasiete}}</td>
    </tr>
    <tr>
        <td>1978</td>
        <td>{{entry9.setentaocho}}</td>
    </tr>
    <tr>
        <td>1979</td>
        <td>{{entry9.setentanueve}}</td>
    </tr>
    <tr>
        <td>1980</td>
        <td>{{entry9.ochenta}}</td>
    </tr>
    <tr>
        <td>1981</td>
        <td>{{entry9.ochentauno}}</td>
    </tr>
    <tr>
        <td>1982</td>
        <td>{{entry9.ochentados}}</td>
    </tr>
    <tr>
        <td>1983</td>
        <td>{{entry9.ochentatres}}</td>
    </tr>
    <tr>
        <td>1984</td>
        <td>{{entry9.ochentacuatro}}</td>
    </tr>
    <tr>
        <td>1985</td>
        <td>{{entry9.ochentacinco}}</td>
    </tr>
</table>
{% endfor %}



{% for entry10 in entries10 %}
<table width="200" border="0" id="data" class="nueve">
    <tr>
        <th>Año</th>
        <th>PIB</th>
    </tr>
    <tr>
        <td>1970</td>
        <td>{{entry10.setenta}}</td>
    </tr>
    <tr>
        <td>1971</td>
        <td>{{entry10.setentauno}}</td>
    </tr>
    <tr>
        <td>1972</td>
        <td>{{entry10.setentados}}</td>
    </tr>
    <tr>
        <td>1973</td>
        <td>{{entry10.setentatres}}</td>
    </tr>
    <tr>
        <td>1974</td>
        <td>{{entry10.setentacuatro}}</td>
    </tr>
    <tr>
        <td>1975</td>
        <td>{{entry10.setentacinco}}</td>
    </tr>
    <tr>
        <td>1976</td>
        <td>{{entry10.setentaseis}}</td>
    </tr>
    <tr>
        <td>1977</td>
        <td>{{entry10.setentasiete}}</td>
    </tr>
    <tr>
        <td>1978</td>
        <td>{{entry10.setentaocho}}</td>
    </tr>
    <tr>
        <td>1979</td>
        <td>{{entry10.setentanueve}}</td>
    </tr>
    <tr>
        <td>1980</td>
        <td>{{entry10.ochenta}}</td>
    </tr>
    <tr>
        <td>1981</td>
        <td>{{entry10.ochentauno}}</td>
    </tr>
    <tr>
        <td>1982</td>
        <td>{{entry10.ochentados}}</td>
    </tr>
    <tr>
        <td>1983</td>
        <td>{{entry10.ochentatres}}</td>
    </tr>
    <tr>
        <td>1984</td>
        <td>{{entry10.ochentacuatro}}</td>
    </tr>
    <tr>
        <td>1985</td>
        <td>{{entry10.ochentacinco}}</td>
    </tr>
</table>
{% endfor %}



{% for entry11 in entries11 %}
<table width="200" border="0" id="data" class="diez">
    <tr>
        <th>Año</th>
        <th>PIB</th>
    </tr>
    <tr>
        <td>1970</td>
        <td>{{entry11.setenta}}</td>
    </tr>
    <tr>
        <td>1971</td>
        <td>{{entry11.setentauno}}</td>
    </tr>
    <tr>
        <td>1972</td>
        <td>{{entry11.setentados}}</td>
    </tr>
    <tr>
        <td>1973</td>
        <td>{{entry11.setentatres}}</td>
    </tr>
    <tr>
        <td>1974</td>
        <td>{{entry11.setentacuatro}}</td>
    </tr>
    <tr>
        <td>1975</td>
        <td>{{entry11.setentacinco}}</td>
    </tr>
    <tr>
        <td>1976</td>
        <td>{{entry11.setentaseis}}</td>
    </tr>
    <tr>
        <td>1977</td>
        <td>{{entry11.setentasiete}}</td>
    </tr>
    <tr>
        <td>1978</td>
        <td>{{entry11.setentaocho}}</td>
    </tr>
    <tr>
        <td>1979</td>
        <td>{{entry11.setentanueve}}</td>
    </tr>
    <tr>
        <td>1980</td>
        <td>{{entry11.ochenta}}</td>
    </tr>
    <tr>
        <td>1981</td>
        <td>{{entry11.ochentauno}}</td>
    </tr>
    <tr>
        <td>1982</td>
        <td>{{entry11.ochentados}}</td>
    </tr>
    <tr>
        <td>1983</td>
        <td>{{entry11.ochentatres}}</td>
    </tr>
    <tr>
        <td>1984</td>
        <td>{{entry11.ochentacuatro}}</td>
    </tr>
    <tr>
        <td>1985</td>
        <td>{{entry11.ochentacinco}}</td>
    </tr>
</table>
{% endfor %}



{% for entry12 in entries12 %}
<table width="200" border="0" id="data" class="once">
    <tr>
        <th>Año</th>
        <th>PIB</th>
    </tr>
    <tr>
        <td>1970</td>
        <td>{{entry12.setenta}}</td>
    </tr>
    <tr>
        <td>1971</td>
        <td>{{entry12.setentauno}}</td>
    </tr>
    <tr>
        <td>1972</td>
        <td>{{entry12.setentados}}</td>
    </tr>
    <tr>
        <td>1973</td>
        <td>{{entry12.setentatres}}</td>
    </tr>
    <tr>
        <td>1974</td>
        <td>{{entry12.setentacuatro}}</td>
    </tr>
    <tr>
        <td>1975</td>
        <td>{{entry12.setentacinco}}</td>
    </tr>
    <tr>
        <td>1976</td>
        <td>{{entry12.setentaseis}}</td>
    </tr>
    <tr>
        <td>1977</td>
        <td>{{entry12.setentasiete}}</td>
    </tr>
    <tr>
        <td>1978</td>
        <td>{{entry12.setentaocho}}</td>
    </tr>
    <tr>
        <td>1979</td>
        <td>{{entry12.setentanueve}}</td>
    </tr>
    <tr>
        <td>1980</td>
        <td>{{entry12.ochenta}}</td>
    </tr>
    <tr>
        <td>1981</td>
        <td>{{entry12.ochentauno}}</td>
    </tr>
    <tr>
        <td>1982</td>
        <td>{{entry12.ochentados}}</td>
    </tr>
    <tr>
        <td>1983</td>
        <td>{{entry12.ochentatres}}</td>
    </tr>
    <tr>
        <td>1984</td>
        <td>{{entry12.ochentacuatro}}</td>
    </tr>
    <tr>
        <td>1985</td>
        <td>{{entry12.ochentacinco}}</td>
    </tr>
</table>
{% endfor %}



{% for entry13 in entries13 %}
<table width="200" border="0" id="data" class="doce">
    <tr>
        <th>Año</th>
        <th>PIB</th>
    </tr>
    <tr>
        <td>1970</td>
        <td>{{entry13.setenta}}</td>
    </tr>
    <tr>
        <td>1971</td>
        <td>{{entry13.setentauno}}</td>
    </tr>
    <tr>
        <td>1972</td>
        <td>{{entry13.setentados}}</td>
    </tr>
    <tr>
        <td>1973</td>
        <td>{{entry13.setentatres}}</td>
    </tr>
    <tr>
        <td>1974</td>
        <td>{{entry13.setentacuatro}}</td>
    </tr>
    <tr>
        <td>1975</td>
        <td>{{entry13.setentacinco}}</td>
    </tr>
    <tr>
        <td>1976</td>
        <td>{{entry13.setentaseis}}</td>
    </tr>
    <tr>
        <td>1977</td>
        <td>{{entry13.setentasiete}}</td>
    </tr>
    <tr>
        <td>1978</td>
        <td>{{entry13.setentaocho}}</td>
    </tr>
    <tr>
        <td>1979</td>
        <td>{{entry13.setentanueve}}</td>
    </tr>
    <tr>
        <td>1980</td>
        <td>{{entry13.ochenta}}</td>
    </tr>
    <tr>
        <td>1981</td>
        <td>{{entry13.ochentauno}}</td>
    </tr>
    <tr>
        <td>1982</td>
        <td>{{entry13.ochentados}}</td>
    </tr>
    <tr>
        <td>1983</td>
        <td>{{entry13.ochentatres}}</td>
    </tr>
    <tr>
        <td>1984</td>
        <td>{{entry13.ochentacuatro}}</td>
    </tr>
    <tr>
        <td>1985</td>
        <td>{{entry13.ochentacinco}}</td>
    </tr>
</table>
{% endfor %}



{% for entry14 in entries14 %}
<table width="200" border="0" id="data" class="trece">
    <tr>
        <th>Año</th>
        <th>PIB</th>
    </tr>
    <tr>
        <td>1970</td>
        <td>{{entry14.setenta}}</td>
    </tr>
    <tr>
        <td>1971</td>
        <td>{{entry14.setentauno}}</td>
    </tr>
    <tr>
        <td>1972</td>
        <td>{{entry14.setentados}}</td>
    </tr>
    <tr>
        <td>1973</td>
        <td>{{entry14.setentatres}}</td>
    </tr>
    <tr>
        <td>1974</td>
        <td>{{entry14.setentacuatro}}</td>
    </tr>
    <tr>
        <td>1975</td>
        <td>{{entry14.setentacinco}}</td>
    </tr>
    <tr>
        <td>1976</td>
        <td>{{entry14.setentaseis}}</td>
    </tr>
    <tr>
        <td>1977</td>
        <td>{{entry14.setentasiete}}</td>
    </tr>
    <tr>
        <td>1978</td>
        <td>{{entry14.setentaocho}}</td>
    </tr>
    <tr>
        <td>1979</td>
        <td>{{entry14.setentanueve}}</td>
    </tr>
    <tr>
        <td>1980</td>
        <td>{{entry14.ochenta}}</td>
    </tr>
    <tr>
        <td>1981</td>
        <td>{{entry14.ochentauno}}</td>
    </tr>
    <tr>
        <td>1982</td>
        <td>{{entry14.ochentados}}</td>
    </tr>
    <tr>
        <td>1983</td>
        <td>{{entry14.ochentatres}}</td>
    </tr>
    <tr>
        <td>1984</td>
        <td>{{entry14.ochentacuatro}}</td>
    </tr>
    <tr>
        <td>1985</td>
        <td>{{entry14.ochentacinco}}</td>
    </tr>
</table>
{% endfor %}



{% for entry15 in entries15 %}
<table width="200" border="0" id="data" class="catorce">
    <tr>
        <th>Año</th>
        <th>PIB</th>
    </tr>
    <tr>
        <td>1970</td>
        <td>{{entry15.setenta}}</td>
    </tr>
    <tr>
        <td>1971</td>
        <td>{{entry15.setentauno}}</td>
    </tr>
    <tr>
        <td>1972</td>
        <td>{{entry15.setentados}}</td>
    </tr>
    <tr>
        <td>1973</td>
        <td>{{entry15.setentatres}}</td>
    </tr>
    <tr>
        <td>1974</td>
        <td>{{entry15.setentacuatro}}</td>
    </tr>
    <tr>
        <td>1975</td>
        <td>{{entry15.setentacinco}}</td>
    </tr>
    <tr>
        <td>1976</td>
        <td>{{entry15.setentaseis}}</td>
    </tr>
    <tr>
        <td>1977</td>
        <td>{{entry15.setentasiete}}</td>
    </tr>
    <tr>
        <td>1978</td>
        <td>{{entry15.setentaocho}}</td>
    </tr>
    <tr>
        <td>1979</td>
        <td>{{entry15.setentanueve}}</td>
    </tr>
    <tr>
        <td>1980</td>
        <td>{{entry15.ochenta}}</td>
    </tr>
    <tr>
        <td>1981</td>
        <td>{{entry15.ochentauno}}</td>
    </tr>
    <tr>
        <td>1982</td>
        <td>{{entry15.ochentados}}</td>
    </tr>
    <tr>
        <td>1983</td>
        <td>{{entry15.ochentatres}}</td>
    </tr>
    <tr>
        <td>1984</td>
        <td>{{entry15.ochentacuatro}}</td>
    </tr>
    <tr>
        <td>1985</td>
        <td>{{entry15.ochentacinco}}</td>
    </tr>
</table>
{% endfor %}

<div id="grafica">
	<canvas id="canvas" width="800" height="300"></canvas>
</div>
</body>
{% endblock content %}
