{% extends "base.html" %}


{% block content %}
<script type="text/javascript" src="static/jquery-2.0.3.min.js"></script>

 <select id="ind" class="form-control">
<option value="--">Seleccione un índice</option>
 {% for entry in entries %}
  <option value="{{ entry.nombre }}" >{{ entry.nombre }}</option>
 {% endfor %}
</select> 


<script>
 $( document ).ready(function() {


function obtvalor(){
$("#PIB_70_85").hide();
$("#PIB_85_98").hide();
$("#PIB_96_04").hide();
$("#70").hide();
$("#85").hide();
$("#96").hide();
var valor = $("select.form-control option:selected").val();
if(valor=="PIB_70_85"){
	$("#PIB_70_85").show();
	$("#70").show();
}
else if(valor=="PIB_85_98"){
	$("#PIB_85_98").show();
	$("#85").show();
}
else if(valor=="PIB_96_04"){
	$("#PIB_96_04").show();
	$("#96").show();
}
}

$("select").change(obtvalor);
obtvalor();

});
</script>

<table id="PIB_70_85" class="table table-hover">
 <caption>PIB Regional 1970-1985</caption>
  <tr>
    <th></th>
    <th>1970</th>
    <th>1971</th>
    <th>1972</th>
    <th>1973</th>
    <th>1974</th>
    <th>1975</th>
    <th>1976</th>
    <th>1977</th>
    <th>1978</th>
    <th>1979</th>
    <th>1980</th>
    <th>1981</th>
    <th>1982</th>
    <th>1983</th>
    <th>1984</th>
    <th>1985</th>
  </tr>
  {% for entry2 in entries2 %}
  <tr>
    <th>{{ entry2.region }}</th>
    <td>{{ entry2.setenta }}</td>
    <td>{{ entry2.setentauno }}</td>
    <td>{{ entry2.setentados }}</td>
    <td>{{ entry2.setentatres }}</td>
    <td>{{ entry2.setentacuatro }}</td>
    <td>{{ entry2.setentacinco }}</td>
    <td>{{ entry2.setentaseis }}</td>
    <td>{{ entry2.setentasiete }}</td>
    <td>{{ entry2.setentaocho }}</td>
    <td>{{ entry2.setentanueve }}</td>
    <td>{{ entry2.ochenta }}</td>
    <td>{{ entry2.ochentauno }}</td>
    <td>{{ entry2.ochentados }}</td>
    <td>{{ entry2.ochentatres }}</td>
    <td>{{ entry2.ochentacuatro }}</td>
    <td>{{ entry2.ochentacinco }}</td>
  </tr>
  {% endfor %}
 </table>

<table id="PIB_85_98" class="table table-hover">
 <caption>PIB Regional 1985-1998</caption>
  <tr>
    <th></th>
    <th>1985</th>
    <th>1986</th>
    <th>1987</th>
    <th>1988</th>
    <th>1989</th>
    <th>1990</th>
    <th>1991</th>
    <th>1992</th>
    <th>1993</th>
    <th>1994</th>
    <th>1995</th>
    <th>1996</th>
    <th>1997</th>
    <th>1998</th>
  </tr>
  {% for entry3 in entries3 %}
  <tr>
    <th>{{ entry3.region }}</th>
    <td>{{ entry3.ochentacinco }}</td>
    <td>{{ entry3.ochentaseis }}</td>
    <td>{{ entry3.ochentasiete }}</td>
    <td>{{ entry3.ochentaocho }}</td>
    <td>{{ entry3.ochentanueve }}</td>
    <td>{{ entry3.noventa }}</td>
    <td>{{ entry3.noventauno }}</td>
    <td>{{ entry3.noventados }}</td>
    <td>{{ entry3.noventatres }}</td>
    <td>{{ entry3.noventacuatro }}</td>
    <td>{{ entry3.noventacinco }}</td>
    <td>{{ entry3.noventaseis }}</td>
    <td>{{ entry3.noventasiete }}</td>
    <td>{{ entry3.noventaocho }}</td>
  </tr>
  {% endfor %}
 </table>

<table id="PIB_96_04" class="table table-hover">
 <caption>PIB Regional 1996-2004</caption>
  <tr>
    <th></th>
    <th>1996</th>
    <th>1997</th>
    <th>1998</th>
    <th>1999</th>
    <th>2000</th>
    <th>2001</th>
    <th>2002</th>
    <th>2003</th>
    <th>2004</th>
  </tr>
  {% for entry4 in entries4 %}
  <tr>
    <th>{{ entry4.region }}</th>
    <td>{{ entry4.noventaseis }}</td>
    <td>{{ entry4.noventasiete }}</td>
    <td>{{ entry4.noventaocho }}</td>
    <td>{{ entry4.noventanueve }}</td>
    <td>{{ entry4.dosmil }}</td>
    <td>{{ entry4.dosmiluno }}</td>
    <td>{{ entry4.dosmildos }}</td>
    <td>{{ entry4.dosmiltres }}</td>
    <td>{{ entry4.dosmilcuartro }}</td>
  </tr>
  {% endfor %}
 </table>

<p id="70">
Las cifras del producto interno bruto regional del período 1980-1985, aquí expuestas y que se publicaron en la primera edición del libro "Indicadores Económicos y Sociales Regionales de Chile", tuvieron carácter provisional y, posteriormente, no fueron ajustadas a las cifras definitivas de las cuentas nacionales del mismo período.

No regionalizado corresponde a Tributación a las importaciones.

Volúmenes expresados en millones de pesos a precios constantes de 1977.
</p>

<p id="85">
No regionalizado corresponde a servicios en el exterior del sector administración pública.

Volúmenes expresados en millones de pesos a precios constantes de 1986.
</p>

<p id="96">
No regionalizado corresponde a servicios en el exterior del sector administración pública.
Volúmenes expresados en millones de pesos a precios constantes de 1996.

</p>

{% endblock content %}
